<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FALCON HEAVY</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/Dragon-style.css">
    <link rel="stylesheet" href="../style/variables.css">
</head>

<body>
    <!-- ###############################################
        this code is for navigation bar
############################################### -->
    <!-- <div id="main-container"> -->

    <header id="top-navigation-menu">
        <div id="logo">
            <a href="/Templates/index.html">
                <img src="../images/logo.png" alt="SpaceX">
            </a>
        </div>
        <ul>
            <li><a href="/Templates/falcon-9.html">FALCON 9</a> </li>
            <li><a href="/Templates/FALCON-HEAVY.html">FALCON HEAVY</a> </li>
            <li><a href="#">DRAGON</a> </li>
            <li><a href="/Templates/Starship.html">STARSHIP</a> </li>
            <li><a href="/Templates/Human-spacelight.html">HUMAN SPACELIGHT</a> </li>
            <li><a href="/Templates/Ride-share.html">RIDE SHARE</a> </li>
        </ul>

        <Div class="right-nav">
            <ul>
                <li><a href="">SHOP</a></li>
            </ul>
        </Div>
    </header>

    </div>
    <!-- ###############################################
        this code is for main content
############################################### -->
    <div class="first-container">
        <DIV class="mid-heading">
            <h1>DRAGON</h1>
            <!-- <button class="btn"> read more</button>  -->
            <H4>SENDING HUMANS AND CARGO INTO SPACE</H4>
        </DIV>
    </div>

    <!-- ###############################################
        this code is for launch count
############################################### -->
    <div class="launch-count">
        <div class="launch-count-heading counter-numbers" data-number="150"">
            <span>7</span>
            <p>TOTAL LAUNCH</p>
        </div>
        <div class=" launch-count-heading">
            <span>7</span>
            <p>TOTAL LANDINGS</p>
            <!-- <p>toatl launch</p> -->
        </div>
        <div class="launch-count-heading">
            <span>4</span>
            <p>REFLOWN ROCKETS</p>
        </div>
    </div>

    <!-- ###############################################
        this code is dragon overview
############################################### -->
    <div class="dragon-intro">
        <div class="dragon-intro-table">
            <h4>DRAGON</h4>
            <h2>OVERVIEW</h2>
            <div class="content">
                <span>height </span>
                <div class="right-table-data">
                    <h4>45m<span>/ 26.7 ft</span></h4>
                    <!-- <span>45m</span>
                    <span> / 26.7 ft</span> -->
                </div>
            </div>
            <div class="content">
                <span>height </span>
                <div class="right-table-data">
                    <h4>45m<span>/ 26.7 ft</span></h4>
                    <!-- <span>45m</span>
                    <span> / 26.7 ft</span> -->
                </div>
                <!-- <span>45m</span> -->
            </div>
            <div class="content">
                <span>height </span>
                <!-- <span>45m</span> -->
                <div class="right-table-data">
                    <h4>45m<span>/ 26.7 ft</span></h4>
                    <!-- <span>45m</span>
                    <span> / 26.7 ft</span> -->
                </div>
            </div>
            <div class="content">
                <span>height </span>
                <div class="right-table-data">
                    <h4>45m<span>/ 26.7 ft</span></h4>
                    <!-- <span>45m</span>
                    <span> / 26.7 ft</span> -->
                </div>
                <!-- <span>45m</span> -->
            </div>
            <div class="content">
                <span>height </span>
                <!-- <span>45m</span> -->
                <div class="right-table-data">
                    <h4>45m<span>/ 26.7 ft</span></h4>
                    <!-- <span>45m</span>
                    <span> / 26.7 ft</span> -->
                </div>
            </div>
        </div>
        <!-- <div class="dragon-img">
             <img src="../images/dragon.jpg" alt="" srcset=""> 
        </div> -->
    </div>

    <!-- ###############################################
        This Code is for vedio container
############################################### -->

    <!-- <div class="vedio-container">
        <h2>
            this is vedio container

        </h2>
         <vedio src="../pexels-kampus-production-8818531.mp4"> 
    </div> -->

    <!-- ###############################################
        this code is for image with information
############################################### -->

    <div class="image-with-text">
        <div class="pic">
            <img src="../images/Dragon-bg.webp " alt="" srcset="">
        </div>
        <div class="text">
            <h2>TAKING HUMANS TO SPACE</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae maxime molestiae numquam atque eaque qui
                optio fuga, vitae laborum saepe quisquam sit culorem ea loremprovident excepturi minus quam molestias!
                Itaque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, voluptate fugiat recusandae ipsam
                eaque, ea suscipit magni, error similique vel unde obcaecati eos facilis quis corporis dolorum placeat
                animi neque.
            </p>

            <a href="" class="btn"> LEARN MORE</a>
        </div>
    </div>

    <!-- ###############################################
        this code is for image with information
############################################### -->
    <div class="dragon">
        <div class="dragon-info">
            <h4>ENGINES</h4>
            <h2>DRACO</h2>
            <h5>DRACO &nbsp;|&nbsp; SUPERDRACO</h5>
            <p>ENGINES
                The Dragon spacecraft is equipped with 16 Draco thrusters used to orient the spacecraft during the
                mission, including apogee/perigee maneuvers, orbit adjustment and attitude control. Each Draco thruster
                is capable of generating 90 pounds of force in the vacuum of space.</p>

            <div class="detail">
                <div>propellant</div>
                LOX /RP-1
            </div>
            <div class="detail">
                <div>THRUST</div>
                845 kn / 190,000 lbf
            </div>
        </div>

        <div class="dragon-img">
            <img src="/images/merlin-rocket-engine-spacex-3d-model-max-obj-3ds-fbx.jpg" alt="" srcset="">
        </div>
    </div>

    <!-- ###############################################
        this code vedio with content
############################################### -->
    <div class="vedio-with-content">
        <div class="left-content">
            <h1>
                DRAGON PARACHUTE SYSTEM
            </h1>

            <p>The Dragon spacecraft is equipped with two drogue parachutes to stabilize the spacecraft following
                reentry and four main parachutes to further decelerate the spacecraft prior to landing</p>

            <a href="" class="btn ">WATCH VEDIO</a>
        </div>
        <div class="right-image">

        </div>
    </div>
    <!-- ###############################################
        this code is image slider 
############################################### -->
    <!-- <div class="image-slider">
        <H1>THIS IS IMAGE SLIDER</H1>
    </div> -->

    <!-- ###############################################
        this code is for information
############################################### -->
    <div class="information">

        <div class="hr-div"> </div>
        <div class="cn">
            <P>For information about our launch services, contact</P><a href="#">sales@spaceX.com</a>
        </div>

        <div class="btn-div">
            <a href="" class="btn">DOWNLOAD USER'S GUIDE</a>
            <a href="" class="btn">CAPABILITIES AND SERVICES</a>
        </div>
    </div>

    <!-- ###############################################
        this is our footer
############################################### -->
    <footer id="footer">
        <span><a href="#"> SpaceX @2022 </a></span>
        <ul>
            <li><a href="https://www.TWITTER.com/" target="_new">TWITTER</a></li>
            <li><a href="https://www.facebook.com/">FACEBOOK</a></li>
            <li><a href="https://www.INSTAGRAM.com/">INSTAGRAM</a></li>
            <li><a href="https://www.flicker.com/">FLICKER</a></li>
            <li><a href="https://www.LINKEDIN.com/">LINKEDIN</a></li>
            <li><a href="https://www.git.com/">PRIVACY POLICY</a></li>
        </ul>
    </footer>

    <script src="../javascript/app.js"></script>
</body>

</html>