<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FALCON HEAVY</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/FALCON-HEAVY-style.css">
    <link rel="stylesheet" href="../style/variables.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <!-- ###############################################
        this code is for navigation bar
############################################### -->
    <!-- <div id="main-container"> -->

    <header id="top-navigation-menu">
        <div id="logo">
            <a href="/Templates/index.html">
                <img src="../images/logo.png" alt="SpaceX">
            </a>
        </div>
        <ul>
            <li><a href="/Templates/falcon-9.html">FALCON 9</a> </li>
            <li><a href="/Templates/FALCON-HEAVY.html">FALCON HEAVY</a> </li>
            <li><a href="/Templates/Dragon.html">DRAGON</a> </li>
            <li><a href="/Templates/Starship.html">STARSHIP</a> </li>
            <li><a href="/Templates/Human-spacelight.html">HUMAN SPACELIGHT</a> </li>
            <li><a href="/Templates/Ride-share.html">RIDE SHARE</a> </li>
        </ul>

        <Div class="right-nav">
            <ul>
                <li><a href="">SHOP</a></li>
            </ul>
        </Div>
    </header>

    <!-- </div> -->
    <!-- ###############################################
        this code is for main content
############################################### -->
    <div class="first-container">
        <DIV class="mid-heading">
            <h1>FALCON-HEAVY</h1>
            <!-- <button class="btn"> read more</button>  -->
            <H4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. eaque nihil!</H4>
        </DIV>
    </div>

    <!-- ###############################################
        this code is for launch count
############################################### -->
    <div class="launch-count">
        <!-- total launch -->
        <div class="launch-count-div">
            <!-- <span>140</span>
         -->
            <!-- <div>140</div> -->
            <h2 class="laucnh-count-heading target-numbers" data-number="3">0+</h2>
            <p style="text-align: center;">TOTAL LAUNCH</p>
        </div>
        <!-- total landing  -->
        <div class="launch-count-div">
            <h2 class="laucnh-count-heading counter-numbers" data-number="7"">0+</h2>
        <p style=" text-align: center;">TOTAL LANDING </p>

        </div>
        <!-- Reflown rockets  -->
        <div class="launch-count-div">
            <h2 class="laucnh-count-heading counter-numbers" data-number="4"">0+</h2>
        <p style=" text-align: center;">REFLOWN ROCKETS </p>
        </div>
    </div>

    <!-- ###############################################
        this code is for falcon heavy image intro
############################################### -->
    <div class="falcon-intro">
        <div class="falcon-intro-text">
            <span>Falcon Heavy is the most powerful operational rocket in the world by a factor of two. With the ability
                to lift into orbit nearly 64 metric tons (141,000 lb) Falcon Heavy can lift more than twice the payload
                of the next closest operational vehicle, the Delta IV Heavy. Falcon Heavy is composed of three Falcon 9
                nine-engine cores whose 27 Merlin engines together generate more than 5 million pounds of thrust at
                liftoff, equal to approximately eighteen 747 aircraft.</span>
        </div>
        <!-- <div class="falcon-img">
            <img class="image" src="../images/falcon-heavy-png.png" alt="" srcset="">
        </div> -->
    </div>

    <!-- ###############################################
        This Code is for vedio container
############################################### -->

    <iframe width="100%" height="610" src="https://www.youtube.com/embed/pCWH5OW9lDo" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <!-- ###############################################
        this code is for image with information

        <video id="reveal-video" autoplay="" loop="" muted="" width="100%" height="100%" preload="auto" autobuffer="true">
								<source type="video/mp4" src="../../media/fh_performance.mp4">
								<source type="video/webm" src="../../media/fh_performance.webm">
							</video>
############################################### -->

    <div class="image-with-text">
        <div class="pic">
            <video id="reveal-video" autoplay="" loop="" muted="" width="100%" height="100%" preload="auto"
                autobuffer="true">
                <source type="video/mp4" src="../src/fh_performance (1).webm">
                <source type="video/webm" src="../src/fh_performance (1).webm">
            </video>

        </div>
        <div class="text">
            <h2>UNMATCHED PERFORMANCE</h2>
            <p>
                With more than 5 million pounds of thrust at liftoff, Falcon Heavy is the most capable rocket flying. By
                comparison, the liftoff thrust of the Falcon Heavy equals approximately eighteen 747 aircraft at full
                power. Falcon Heavy can lift the equivalent of a fully loaded 737 jetliner—complete with passengers,
                luggage and fuel—to orbit.
            </p>
        </div>
    </div>

    <!-- ###############################################
        this code is for image with information
############################################### -->
    <div class="marlin">
        <div class="marlin-info">
           <span class="head-1"> ENGINES</span> 
            <span class="head-2">MARLIN</span>
            <span class="choice">SEA LEVEL &nbsp;|&nbsp; VACUUM</span>
            <p>Merlin Vacuum features a larger exhaust section and a significantly larger expansion nozzle to maximize the engine’s efficiency in the vacuum of space. Its combustion chamber is regeneratively cooled, while the expansion nozzle is radiatively cooled. At full power, the Merlin Vacuum engine operates with the greatest efficiency ever for an American-made hydrocarbon rocket engine.</p>

            <div class="detail">
                <div>propellant</div>
                LOX /RP-1
            </div>
            <div class="detail">
                <div>THRUST</div>
                845 kn / 190,000 lbf
            </div>
        </div>

       
    </div>

    <!-- ###############################################
        this code is image slider 
############################################### -->
    <!-- <div class="image-slider">
        <H1>THIS IS IMAGE SLIDER</H1>
    </div> -->

    <!-- ###############################################
        this code is for information
############################################### -->
    <div class="information">

        <div class="hr-div"> </div>
        <div class="cn">
            <P>For information about our launch services, contact</P><a href="#">sales@spaceX.com</a>
        </div>

        <div class="btn-div">
            <a href="" class="btn">DOWNLOAD USER'S GUIDE</a>
            <a href="" class="btn">CAPABILITIES AND SERVICES</a>
        </div>
    </div>

    <!-- ###############################################
        this is our footer
############################################### -->
    <footer id="footer">
        <span><a href="#"> SpaceX @2022 </a></span>
        <ul>
            <li><a href="https://www.TWITTER.com/">TWITTER</a></li>
            <li><a href="https://www.facebook.com/">FACEBOOK</a></li>
            <li><a href="https://www.INSTAGRAM.com/">INSTAGRAM</a></li>
            <li><a href="https://www.flicker.com/">FLICKER</a></li>
            <li><a href="https://www.LINKEDIN.com/">LINKEDIN</a></li>
            <li><a href="https://www.git.com/">PRIVACY POLICY</a></li>

        </ul>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="../javascript/app.js"></script>
    <script>
        // Animation number
        const countnum = document.querySelectorAll(".target-numbers");

        console.log(countnum);
        const speed = 100;
        countnum.forEach((curElem) => {
            const updateNumber = () => {
                const targetNumber = parseInt(curElem.dataset.number);

                // console.log(targetNumber);
                const initialNum = parseInt(curElem.innerText);
                // console.log(initialNum);
                const incrementNumber = Math.trunc(targetNumber / speed);
                // console.log(incrementNumber);

                if (initialNum < targetNumber) {
                    curElem.innerText = `${initialNum + incrementNumber}+`;
                    setTimeout(updateNumber, 10);
                }
            };
            updateNumber();
        });





        AOS.init({

            // duration: 1000,
        });

    </script>
</body>

</html>