<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceX</title>
    <link rel="stylesheet" href="..\style\style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../style/variables.css">
    <link rel="stylesheet" href="../style/Human-spacelight.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <!-- ###############################################
        this code is for Navigation Bar
############################################### -->
    <div id="main-container">
        <header id="top-navigation-menu">
            <div id="logo">
                <a href="../Templates/index.html">
                    <img src="../images/logo.png" alt="SpaceX">
                </a>
            </div>
            <ul>
                <li><a href="/Templates/falcon-9.html">FALCON 9</a> </li>
                <li><a href="/Templates/FALCON-HEAVY.html">FALCON HEAVY</a> </li>
                <li><a href="/Templates/Dragon.html">DRAGON</a> </li>
                <li><a href="/Templates/Starship.html">STARSHIP</a> </li>
                <li><a href="#">HUMAN SPACELIGHT</a> </li>
                <li><a href="/Templates/Ride-share.html">RIDE SHARE</a> </li>
            </ul>

            <Div class="right-nav">
                <ul>
                    <li><a href="">SHOP</a></li>
                </ul>
            </Div>


        </header>
        <div class="first-container"  data-aos="fade-up" data-aos-duration="1000">
            <DIV class="mid-heading">
                <h1>HUMAN SPACELIGHT</h1>
                <!-- <button class="btn"> read more</button>  -->
                <H4>MAKING LIFE MULTIPLANETARY</H4>
            </DIV>
        </div>
    </div>

    <!-- ###############################################
    code for  mission earth orbit 
    ############################################### -->
    <section class="mission-earth-orbit">
        <div class="top-left-content" id="earth-orbit" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" >
            <h2>EARTH ORBIT</h2>
            <p>EXPERIENCE THE BLUE PLANET FROM OVER 300KM UP </p>
            <a href="" class="btn">EXPLORE</a>
        </div>
    </section>
    <!-- ###############################################
    code for mission space station 
    ############################################### -->
    <section class="mission-space-station">
        <div class="top-left-content" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="400">
            <h2>SPACE STATION</h2>
            <p>TRANSPORTING HUMANS TO THE ORBITING LABORATORY IN THE SKY</p>
            <a href="" class="btn">EXPLORE</a>
        </div>
    </section>
    <!-- ###############################################
    code for mission MOON  
    ############################################### -->
    <section class="mission-moon">
        <div class="top-left-content" id="mission-moon" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="500">
            <h2>MOON</h2>
            <p>RETURNING HUMANS TO OUR LUNAR NEIGHBOR</p>
            <a href="" class="btn">EXPLORE</a>
        </div>
    </section>
    <!-- ###############################################
    code for mission mars $ beyond   
    ############################################### -->
    <section class="mission-mars">
        <div class="top-left-content" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="550">
            <h2>MAR'S & BEYOND</h2>
            <p>THE ROAD TO MAKING HUMANITY MULTIPLANETARY</p>
            <a href="" class="btn">EXPLORE</a>
        </div>
    </section>


    <!-- ###############################################
        this code is for information
############################################### -->
    <div class="information">

        <div class="hr-div"> </div>
        <div class="cn">
            <P>For information about our launch services, contact</P><a href="#">sales@spaceX.com</a>
        </div>

        <div class="btn-div">
            <a href="" class="btn">DOWNLOAD USER'S GUIDE</a>
            <a href="" class="btn">CAPABILITIES AND SERVICES</a>
        </div>
    </div>

    <!-- ###############################################
        this is our footer
############################################### -->
    <footer id="footer">
        <span><a href="#"> SpaceX @2022 </a></span>
        <ul>
            <li><a href="https://www.TWITTER.com/">TWITTER</a></li>
            <li><a href="https://www.facebook.com/">FACEBOOK</a></li>
            <li><a href="https://www.INSTAGRAM.com/">INSTAGRAM</a></li>
            <li><a href="https://www.flicker.com/">FLICKER</a></li>
            <li><a href="https://www.LINKEDIN.com/">LINKEDIN</a></li>
            <li><a href="https://www.git.com/">PRIVACY POLICY</a></li>
        </ul>
    </footer>

    <!-- aos -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
        });
    </script>
</body>

</html>