<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="this is spaceX Clone webssite" />
    <meta name="keywords" content="html, css ,JavaScript, core html css JavaScript, spaceX clone,spaceX copy  " />
    <meta name="author" content="Himanshu prajapati" />
    <title>SpaceX</title>
    <link rel="stylesheet" href="../style/variables.css" />
    <link rel="stylesheet" href="..\style\style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <!-- ###############################################
        this code is for Navigation Bar
############################################### -->
    <div id="main-container">
        <header id="top-navigation-menu">
            <div id="logo">
                <a href="#">
                    <img src="../images/logo.png" alt="SpaceX" />
                </a>
            </div>
            <ul>
                <li><a href="/Templates/falcon-9.html">FALCON 9</a></li>
                <li><a href="/Templates/FALCON-HEAVY.html">FALCON HEAVY</a></li>
                <li><a href="/Templates/Dragon.html">DRAGON</a></li>
                <li><a href="/Templates/Starship.html">STARSHIP</a></li>
                <li>
                    <a href="/Templates/Human-spacelight.html">HUMAN SPACELIGHT</a>
                </li>
                <li><a href="/Templates/Ride-share.html">RIDE SHARE</a></li>
            </ul>

            <div class="right-nav">
                <ul>
                    <li><a href="">SHOP</a></li>
                </ul>
            </div>
        </header>

        <div class="top-left-content" data-aos="fade-up" data-aos-duration="2000">
            <h2>RECENT LAUNCH</h2>
            <h3>TRANSPORTER-5 MISSION</h3>
            <a href="" class="btn"> LEARN MORE</a>
        </div>
    </div>
    <!-- ###############################################
        this  code is for  container
     

############################################### -->
    <div id="second-container">
        <div class="top-left-content" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300">
            <h2>RECENT MISSION</h2>
            <h3>NILESAT 301 MISSION</h3>
            <a href="#" class="btn">LEARN MORE</a>
        </div>
    </div>

    <!-- ###############################################
        this code is second container
############################################### -->
    <div id="third-container">
        <div class="top-left-content" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="400">
            <h2>COMPLETED MISSION</h2>
            <h3>
                CREW-3 RETURNS TO EARTH</h3>
            <a href="#" class="btn"> LEARN MORE</a>
        </div>
    </div>
    <!-- ###############################################
        this is our fourth container
############################################### -->
    <div id="fourth-container">
        <div class="top-left-content" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="500">
            <h2>RECENT LAUNCH</h2>
            <h3>
                STARLINK MISSION</h3>
            <a href="" class="btn"> LEARN MORE</a>
        </div>
    </div>
    <!-- ###############################################
        this is our footer
############################################### -->
    <footer id="footer">
        <span><a href="#"> SpaceX @2022 </a></span>
        <ul>
            <li><a href="https://www.TWITTER.com/">TWITTER</a></li>
            <li><a href="https://www.facebook.com/">FACEBOOK</a></li>
            <li><a href="https://www.INSTAGRAM.com/">INSTAGRAM</a></li>
            <li><a href="https://www.flicker.com/">FLICKER</a></li>
            <li><a href="https://www.LINKEDIN.com/">LINKEDIN</a></li>
            <li><a href="https://www.git.com/">PRIVACY POLICY</a></li>
        </ul>
    </footer>

    <!-- aos -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
        });
    </script>
</body>

</html>