<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RideShare</title>
    <link rel="stylesheet" href="../style/variables.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/RidShare.css">
</head>

<body>

    <!-- ###############################################
        this code is for navigation bar
############################################### -->
    <!-- <div id="main-container"> -->

    <header id="top-navigation-menu">
        <div id="logo">
            <a href="/Templates/index.html">
                <img src="../images/logo.png" alt="SpaceX">
            </a>
        </div>
        <ul>
            <li><a href="/Templates/falcon-9.html">FALCON 9</a> </li>
            <li><a href="/Templates/FALCON-HEAVY.html">FALCON HEAVY</a> </li>
            <li><a href="/Templates/Dragon.html">DRAGON</a> </li>
            <li><a href="/Templates/Starship.html">STARSHIP</a> </li>
            <li><a href="/Templates/Human-spacelight.html">HUMAN SPACELIGHT</a> </li>
            <li><a href="#">RIDE SHARE</a> </li>
        </ul>
        <Div class="right-nav">
            <ul>
                <li><a href="#">SHOP</a></li>
            </ul>
        </Div>
    </header>
    </div>

    <!-- ###############################################
        this is main content
############################################### -->
    <div class="first-container">
        <DIV class="mid-heading">
            <h1>SMALLSAT
                RIDESHARE PROGRAM</h1>
            <!-- <button class="btn"> read more</button>  -->
            <H4>DEDICATED RIDESHARE MISSIONS AS LOW AS $1.1M*. SEARCH FLIGHTS BELOW.</H4>
        </DIV>
    </div>
    <!-- ###############################################
        this is detail container
############################################### -->
    <div class="detail">
        <div class="detail-card">
            <h3>
                COST AS LOW AS $1.1M
            </h3>
            <p>
                $1.1M for 200kg to SSO with additional mass at $5.5k/kg. Affordable rates also available to
                Mid-Inclination LEO, GTO, and TLI.
            </p>
        </div>
        <div class="detail-card">
            <h3>
                SCHEDULE CERTAINTY
            </h3>
            <p>
                SSO missions approximately every 4 months. Frequent launches to mid-inclination. Inquire for other
                orbits
            </p>
        </div>
        <div class="detail-card">
            <h3>
                CONTRACT FLEXIBILITY
            </h3>
            <p>
                If your payload is delayed, apply 100% of monies paid toward the cost of rebooking on a future mission,
                subject to a 10% rebooking fee.
            </p>
        </div>
    </div>

    <!-- ###############################################
        this is reserve ride section
############################################### -->
    <div id="reserve-ride">
        <div class="ride-content">
            <h3>RESERVE YOUR RIDE ONLINE</h3>
            <p>
                Find all the information you need to make a reservation online, everything from port size to technical
                specifications to licensing information. Once your reservation request is approved, SpaceX will provide
                you with a welcome package outlining next steps for launch.</p>
            <p>Payloads are received at the launch site around L-30 and processed in a SpaceX facility. More details can
                be found in the Rideshare User’s Guide.</p>

            <a href="#" class="btn">VIEW USER’S GUIDE</a>
        </div>


        <!-- ###############################################
        code is for progress bar
        ############################################### -->
        <div class="progress-bar">
            <div class="progress-span progress-words">
                <div>
                    <h3>Place Order Online</h3>
                </div>
                <div>
                    <h3>Welcome Package</h3>
                </div>
                <div>
                    <h3>Spacecraft Data Package</h3>
                </div>
                <div>
                    <h3>Launch Processing</h3>
                </div>
                <div>
                    <h3>Launch!</h3>
                </div>
            </div>
            <div class="progress-line"></div>
            <div class="progress-span progress-dots">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- ###############################################
        this code is for information
############################################### -->
    <div class="information">

        <div class="hr-div"> </div>
        <div class="cn">
            <P>For information about our launch services, contact</P><a href="#">sales@spaceX.com</a>
        </div>

        <div class="btn-div">
            <a href="" class="btn">DOWNLOAD USER'S GUIDE</a>
            <a href="" class="btn">CAPABILITIES AND SERVICES</a>
        </div>
    </div>
    <!-- ###############################################
        this is our footer
############################################### -->
    <footer id="footer">
        <span><a href="#"> SpaceX @2022 </a></span>
        <ul>
            <li><a href="https://www.TWITTER.com/" target="_new">TWITTER</a></li>
            <li><a href="https://www.facebook.com/">FACEBOOK</a></li>
            <li><a href="https://www.INSTAGRAM.com/">INSTAGRAM</a></li>
            <li><a href="https://www.flicker.com/">FLICKER</a></li>
            <li><a href="https://www.LINKEDIN.com/">LINKEDIN</a></li>
            <li><a href="https://www.git.com/">PRIVACY POLICY</a></li>
        </ul>
    </footer>
</body>

</html>