<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starship</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/starship-style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../style/variables.css">
</head>

<body>

    <!-- ###############################################
        this code is for Navigation Bar
############################################### -->
    <div id="main-container">

        <header id="top-navigation-menu">
            <div id="logo">
                <a href="/Templates/index.html">
                    <img src="../images/logo.png" alt="SpaceX">
                </a>
            </div>
            <ul>
                <li><a href="/Templates/falcon-9.html">FALCON 9</a> </li>
                <li><a href="/Templates/FALCON-HEAVY.html">FALCON HEAVY</a> </li>
                <li><a href="/Templates/Dragon.html">DRAGON</a> </li>
                <li><a href="#">STARSHIP</a> </li>
                <li><a href="/Templates/Human-spacelight.html">HUMAN SPACELIGHT</a> </li>
                <li><a href="/Templates/Ride-share.html">RIDE SHARE</a> </li>
            </ul>

            <Div class="right-nav">
                <ul>
                    <li><a href="">SHOP</a></li>
                </ul>
            </Div>
        </header>

        <div class="top-left-content" data-aos="flip-left" data-aos-offset="0">
            <h2>FLIGHT TEST</h2>
            <h3>STARSHIP SN15</h3>
            <a href="" class="btn"> REWATCH</a>
        </div>
    </div>

    <!-- ###############################################
        this code is information only 
############################################### -->
    <section class="txt-info-only">

        <div class="left-inf">
            <p class="para">On Wednesday, May 5, Starship serial number 15 (SN15) successfully completed SpaceX’s fifth
                high-altitude flight test of a Starship prototype from Starbase in Texas.</p>
            <p class="para">Similar to previous high-altitude flight tests of Starship, SN15 was powered through ascent
                by three Raptor engines, each shutting down in sequence prior to the vehicle reaching apogee –
                approximately 10 km in altitude. SN15 performed a propellant transition to the internal header tanks,
                which hold landing propellant, before reorienting itself for reentry and a controlled aerodynamic
                descent.</p>

            <p class="para">The Starship prototype descended under active aerodynamic control, accomplished by
                independent movement of two forward and two aft flaps on the vehicle. All four flaps were actuated by an
                onboard flight computer to control Starship’s attitude during flight and enabled precise landing at the
                intended location. SN15’s Raptor engines reignited as the vehicle performed the landing flip maneuver
                immediately before touching down for a nominal landing on the pad.</p>
        </div>
        <div class="right-inf">
            <p class="para">
                These test flights of Starship are all about improving our understanding and development of a fully
                reusable transportation system designed to carry both crew and cargo on long-duration interplanetary
                flights, and help humanity return to the Moon, and travel to Mars and beyond.
            </p>

            <p class="para">Congratulations to the entire SpaceX team on SN15’s successful flight and landing!</p>
        </div>
    </section>

    <section id="starship-overview">
        <div class="left-overview">
            <h2>OVERVIEW</h2>
            <div class="left-overview-data">
                <h4>HEIGHT</h4>
                <H4>72M</H4>
            </div>
            <div class="left-overview-data">
                <h4>DIAMETER</h4>
                <H4>72M</H4>
            </div>
            <div class="left-overview-data">
                <h4>PLAYLOAD TO LEO</h4>
                <H4>72M</H4>
            </div>



        </div>



        <!-- <div class="right-overview">
            <img src="../images/Starship_Auto14.jpeg" alt="">
        </div> -->
    </section>


    <section class="starship-s">

        <div class="starship-content">

            <h4>STARSHIP USES </h4>
            <h3>SATELLITES</h3>

            <p>
                Starship is designed to deliver satellites further and at a lower marginal cost per launch than our
                current Falcon vehicles. With a payload compartment larger than any fairing currently in operation or
                development, Starship creates possibilities for new missions, including space telescopes even larger
                than the James Webb.</p>
        </div>
    </section>
    <!-- <section id="starship-vedio-cnt">
        <h2>
            this is a vedio container
        </h2>
    </section> -->

    <!-- ###############################################
    this is section is for landing on mars
    ############################################### -->
    <section id="mars-landing">
        <div class="content">
            <h3>LANDING ON MARS</h3>
            <P>Starship will enter Mars’ atmosphere at 7.5 kilometers per second and decelerate aerodynamically. The
                vehicle’s heat shield is designed to withstand multiple entries, but given that the vehicle is coming
                into Mars' atmosphere so hot, we still expect to see some ablation of the heat shield (similar to wear
                and tear on a brake pad). The engineering video below simulates the physics of Mars entry for Starship.
            </P>

            <a href="#" class="btn">WATCH SIMUALATION</a>
        </div>
    </section>


    <!-- ###############################################
        this code is for information
############################################### -->
    <div class="information">

        <div class="hr-div"> </div>
        <div class="cn">
            <P>For information about our launch services, contact</P><a href="#">sales@spaceX.com</a>
        </div>

        <div class="btn-div">
            <a href="" class="btn">DOWNLOAD USER'S GUIDE</a>
            <a href="" class="btn">CAPABILITIES AND SERVICES</a>
        </div>
    </div>

    <!-- ###############################################
    this is our footer
############################################### -->
    <footer id="footer">
        <span><a href="#"> SpaceX @2022 </a></span>
        <ul>
            <li><a href="https://www.TWITTER.com/" target="_new">TWITTER</a></li>
            <li><a href="https://www.facebook.com/">FACEBOOK</a></li>
            <li><a href="https://www.INSTAGRAM.com/">INSTAGRAM</a></li>
            <li><a href="https://www.flicker.com/">FLICKER</a></li>
            <li><a href="https://www.LINKEDIN.com/">LINKEDIN</a></li>
            <li><a href="https://www.git.com/">PRIVACY POLICY</a></li>
        </ul>
    </footer>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000
        });
    </script>
</body>

</html>